

#myChart{
    margin: auto;
    margin-top: 100px;
}

#myBar{
    margin: auto;
    margin-top: 100px;
}

.stats-heading{
    margin-left: 100px;
}

h1{
    margin-left: 50%;
    margin: auto;
    margin-top: 100px;
    font-size: 15px;
}

#myChart0{
    margin: auto;
    margin-top: 30px;
}

#myChart1 {
    display: inline;
    margin-top: 110px;
}

#myChart2 {
    display: inline;
    margin-top: 110px;
}

#myChart3 {
    display: inline;
    margin-top: 110px;
}

.stats-container{
    margin-top: 50px;
    max-width: 80%;
    margin: auto;
    height: 300px;
}

h1{
    font-size: 35px;
    color: var(--accent);
}

#suggestions-link{
    text-align: right;
    padding: 10px;
    border: 2px solid var(--accent);
    cursor: pointer;
}

#suggestions-link:hover{
    background-color: #301dad2e;
    color: var(--accent);
}


/*Incentives*/
#diarist,
#muse,
#logger,
#storyteller{
    margin-top: 50px;
}

#diarist div, 
#muse div, 
#register div,
#logger div,
#storyteller div{
    font-size: 25px;
    position: absolute;
    top: -30px;
    height: auto;
    text-align: center;
    left: 150px;
}

#diarist p, 
#register p,
#muse p, 
#storyteller p{
    position: absolute;
    top: -5px;
    height: auto;
    text-align: center;
    left: 80px;
}

#logger p{
    position: absolute;
    top: -5px;
    height: auto;
    text-align: center;
    left: 130px;
}



#diarist img, 
#muse img, 
#register img,
#logger img,
#storyteller img{
    position: relative;
    width: 230px;
    height: auto;
}

#diarist span, 
#muse span, 
#logger span,
#register span,
#storyteller span{
    padding: 50px;
    position: relative;
    height: 800px;
}


#diarist #diarist1, 
#muse #muse4, 
#logger #logger4{
    margin-top: -100px;
}

/*End of Incentives*/




/*Suggestions*/
#suggestions_page{
    margin: 120px;
}

#suggestions_page ul{
    margin-top: 30px;
}

#suggestions_page ul li{
    padding-bottom: 10px;
}

.float-left{
    float: left;
    height: 200px;
    width: 17%;
}

.float-left .film{
    height: 70px;
}

.float-right{
    float: right;
    height: 200px;
    width: 80%;
}

.float-right .overview{
    min-height: 70px;
}


