{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Eudaimonia | User Statistics
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'analysis/stats.css' %}">

<body >
    <div id="suggestions_page">
        <h1>Suggestions Based on Personality:</h1>

        <ul>
            {% for result in final_result %}
            <li>{{ result }}</li>
            {% endfor %}
        </ul>
        
        <h1>Suggestions Based on Hobbies:</h1>
        {% for hob in hobby %}
        
            {% if hob == 'Handicrafts' %}
            <h2>Handicrafts</h2>
            <ul>
                <li><a href="https://www.handicraft.com/" target="_blank">Handicrafts</a> is a niche website specially designed to cater
                to professionals and enthusiastic hobbyists alike. It contains special blogposts & creative products for sale.</li>
                <li><a href="https://www.youtube.com/c/VENTUNOART" target="_blank">Ventuno Art</a> is a YouTube channel famous for 
                arts and crafts, origami and DIYs that are pretty easy to follow and get started with.</li>
            </ul>
            {% endif %}

            {% if hob == 'Adventure' %}
            {% endif %}

            {% if hob == 'Gardening' %}
            <h2>Gardening</h2>
            <ul>
                <li><a href="https://indiagardening.com/" target="_blank">India Gardening</a> is a website made for the purchase of plants
                    of various different kinds that are not easily available in the market. This might be something that would
                    interest you if you're into varied plantations...</li>
                <li><a href="https://www.youtube.com/c/GardenUp" target="_blank">Garden Up</a> is a YouTube channel hosted by Ekta, a 
                    researcher with decades of knowledge in ecology that stands firm with the ideas of green revolution around us. This 
                    might be something that would interest you if you wish to learn about plants more along with your hobby of gardening.</li>
                <li><a href="https://www.youtube.com/user/busygardener" target="_blank">Y Garden</a> is a channel hosted by a professional 
                    landscape designer whose sense in green aesthetics make her a great candidate to learn from. This would be a good choice 
                    for people who are interested in learning about the principles of Green Design.</li>
            </ul>
            {% endif %}

            {% if hob == 'Nerding' %}
                <h2>Nerding</h2>
                <ul>
                    <li><a href="https://owlcation.com/" target="_blank">Owlcation</a> is a website designed purely for highly intellectual
                         nerds. It covers almost every imaginable topic out there with respect to humanities and sciences.</li>
                    <li><a href="https://nerdist.com/" target="_blank">Nerdist</a> is a website that deals in fan theories and exploration of 
                        high fantasy mythology. be it Marvel, DC or Game of Thrones...</li>
                    <li><a href="https://www.youtube.com/user/busygardener" target="_blank">Y Garden</a> is a channel hosted by a professional 
                        landscape designer whose sense in green aesthetics make her a great candidate to learn from. This would be a good choice 
                        for people who are interested in learning about the principles of Green Design.</li>
                </ul>
            {% endif %}

            {% if hob == 'Videogames' %}
            {% endif %}

            {% if hob == 'Music' %}
            {% endif %}

            {% if hob == 'Movies' %}
            {% endif %}

            {% if hob == 'Dancing' %}
            {% endif %}

            {% if hob == 'Cooking' %}
            {% endif %}

            {% if hob == 'Sports' %}
            {% endif %}

            {% if hob == 'Writing' %}
            {% endif %}

            {% if hob == 'Reading' %}
            {% endif %}

        {% endfor %}

        

        <h1>Music Recommendation</h1>
        <p>Today's music recommendation is {{ track }} by {{ artist }}.</p>

        <h1>Movie Recommendations</h1>
        <div class="float-left">
            {% for film in response.films %}
                <div class="film"> {{ film }} </div>
                <br />
            {% endfor %}
        </div>

        <div class="float-right">
            {% for overview in response.overviews %}
                <div class="overview"> {{ overview }} </div>
                <br />
            {% endfor %}
        </div>

        
</div>
</body>
{% endblock %}